<div class="forecast">
  <h3>5-Day Forecast</h3>
  <ul>
    <li class="forecast-day" *ngFor="let day of weatherData">
      {{ day.dt_txt | date:'EEE, MMM dd' }}
      <img src="assets/icons/{{day.weather[0].icon}}.png" alt="" class="icon">
      <span class="forecast-day__main">
        {{ day.main.temp_min | number: '1.0-0' }}&deg;F/
        {{ day.main.temp_max | number: '1.0-0' }}&deg;F
      </span>
      <span>{{ day.weather[0].main }}</span>
      <span class="forecast-day__sub hidden">

      </span>
    </li>
  </ul>
</div>
