<div class="forecast">
  <div class="forecast__search">
    <label for="zipcode">Search By Zip Code:</label>
    <input type='text' [(ngModel)]='zipcode' ng-pattern='/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/' placeholder='74045' name="zipcode" />
    <button (click)="onSearch()">Search</button>
  </div>
  <h3>5-Day Forecast</h3>
  <ul>
    <li class="forecast-day" *ngFor="let day of weatherData">
      {{ day.dt_txt | date:'EEE, MMM dd' }}
      <img src="assets/icons/{{day.weather[0].icon}}.png" alt="" class="icon">
      <span class="forecast-day__main">
        {{ day.main.temp_min | number: '1.0-0' }}&deg;F/
        {{ day.main.temp_max | number: '1.0-0' }}&deg;F
      </span>
      <span>{{ day.weather[0].main }}</span>
      <span class="forecast-day__sub hidden">

      </span>
    </li>
  </ul>
</div>
