<div class="weather__search">
  <label for="zipcode">Search By Zip Code:</label>
  <input type='text' [(ngModel)]='zipcode' ng-pattern='/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/' placeholder='74033' name="zipcode" />
  <button (click)="onSearch()">Search</button>
</div>
<div *ngIf="weatherNow" class="weather">
  <div class="weather__location">
    <div class="weather__location-city">
      {{ location.name }}, {{ location.country }}
    </div>
    <div class="weather__location-time">
      {{ currentTime | date : "EEEE" }}
      <br />
      {{ currentTime | date : "MMM dd h:mm a" }}
    </div>
  </div>
  <div class="weather__current">
    <div class="weather__current-temp">
      {{ weatherNow.main.temp | number : "1.0-0" }} &deg;F
    </div>
    <div class="weather__current-icon">
      <img src="assets/icons/{{ weatherNow.weather[0].icon }}.png" alt="" />
    </div>
    <div class="weather__current-sky">
      {{ weatherNow.weather[0].description }}
    </div>
  </div>
  <div class="weather__details">
    <div class="detail weather__details-feels-like">
      Feels like:
      <span>{{ weatherNow.main.feels_like | number : "1.0-0" }}&deg;F</span>
    </div>
    <div class="detail weather__details-humidity">
      Humidity: <span>{{ weatherNow.main.humidity }}%</span>
    </div>
    <div class="detail weather__details-high">
      High Temp:
      <span>{{ weatherNow.main.temp_max | number : "1.0-0" }}&deg;F</span>
    </div>
    <div class="detail weather__details-low">
      Low Temp:
      <span>{{ weatherNow.main.temp_min | number : "1.0-0" }}&deg;F</span>
    </div>
  </div>
  <h3>Today's Forecast</h3>
  <div class="weather__timeline">
    <div class="weather__timeline__time" *ngFor="let item of timeline">
      <div class="weather__timeline__time-time">
        {{ item.time | date : "HH:mm" }}
      </div>
      <div class="weather__timeline__time-temp">
        {{ item.temp | number : "1.0-0" }}&deg;F
      </div>
      <div class="weather__timeline__time-icon">
        <img src="assets/icons/{{ item.icon }}.png" alt="" />
      </div>
      <div class="weather__timeline__time-conditions">
        {{ item.conditions }}
      </div>
    </div>
  </div>
  <h3>5-Day Forecast</h3>
  <ul class="weather__future">
    <li class="weather__future__day" *ngFor="let day of weatherData">
      {{ day.dt_txt | date:'EEE, MMM dd' }}
      <img src="assets/icons/{{day.weather[0].icon}}.png" alt="" class="weather__future__day-icon">
      <div class="weather__future__day-temp">
        L/H <br />
        {{ day.main.temp_min | number : "1.0-0" }}&deg;F/
        {{ day.main.temp_max | number : "1.0-0" }}&deg;F
      </div>
      <div class="weather__future__day-conditions">
        {{ day.weather[0].main }}
      </div>
    </li>
  </ul>
</div>
<!-- <div class="map-container">
<div #map id="map"></div>
</div> -->

<!-- <div class="test" style="background-color: rgb(0, 0, 0);" id="map2">
<img *ngIf="mapImageURL" [src]="mapImageURL" alt="Map Image">
</div> -->
