.weather {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 700px;
  min-width: 20rem;

  &__location {
    margin-top: 1.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    white-space: nowrap;

    &-city {
      font-size: clamp(1.25rem, 1.75rem, 6vw);
      font-weight: bold;
      justify-self: self-start;
    }

    &-time {
      justify-self: self-end;
      align-self: self-end;
      font-size: clamp(1.2rem, 1.5rem, 6vw);
    }

    @media only screen and (max-width: 330px) {
      grid-template-columns: 1fr;

      &-city,
      &-time {
        justify-self: self-start;
      }
    }
  }

  &__current {
    margin-top: 1.5rem;
    width: 100%;
    display: grid;
    grid-template-areas:
      "temp icon"
      "sky  sky";

    &-temp {
      font-size: clamp(3.5rem, 6rem, 6vw);
      white-space: nowrap;
      grid-area: temp;
    }

    &-sky {
      text-transform: capitalize;
      font-size: clamp(1.25rem, 3.5rem, 4vw);
      grid-area: sky;
    }

    &-icon {
      grid-area: icon;
    }

    @media only screen and (max-width: 300px) {
      grid-template-columns: 1fr;
    }
  }

  &__details {
    margin-top: 1.5rem;
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    .detail {
      border: 1px solid black;
      border-radius: 10%;
      display: flex;
      flex-direction: column;
      padding: 5px 10px;
      align-items: flex-start;
      justify-content: center;
      background-color: #242122;
      border-radius: 15%;

      span {
        font-size: clamp(2rem, 4rem, 6vw);
        text-align: flex-start;
      }
    }
  }

  &__timeline {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

    &__time {
      padding: 5px 10px;
      background-color: #242122;
      border-radius: 15%;
      display: grid;
      grid-template-areas:
        "time icon"
        "temp icon"
        "conditions conditions";

      &-time {
        align-self: self-start;
        grid-area: time;
      }
      &-temp {
        font-size: clamp(1.25rem, 1.75rem, 6vw);
        grid-area: temp;
      }
      &-icon {
        grid-area: icon;

        img {
        }
      }
      &-conditions {
        grid-area: conditions;
      }
    }
  }

  &__future {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    padding-left: 0;

    &__day {
      padding: 5px 10px;
      display: grid;
      min-width: 10rem;
      justify-content: center;
      background-color: #242122;
      border-radius: 15%;
    }
  }

  &__search {
    margin-top: 1.5rem;
    font-size: clamp(1.2rem, 1.5rem, 6vw);

    input {
      margin: 1rem 1rem;
      background-color: #242122;
      color: #c7c4c5;
    }

    button {
      padding: 0 0.5rem;
      background-color: #000;
      color: #c7c4c5;
    }
  }

  h3 {
    margin-top: 1.5rem;
  }
}

