/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "font-awesome/css/font-awesome.min.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

table {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size:large;
  border-collapse: collapse;
}
td {
  border: 1px solid black;
}
